/*Welcome screen*/

:root{
  --clr-theme: #4D5B9E;
  --clr-theme-dark: #333c6b;
}

body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.app-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome-screen-h2{
  font-family: Karla;
  font-size: 31px;
  font-weight: 700;
  line-height: 37px;
  letter-spacing: 0em;
  text-align: center;
}

.welcome-screen-p{
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;

}

.btn{
  border: none;
  border-radius: 100rem;
  font-family: Inter;
  font-size: 1rempx;
  font-weight: 500;
  text-align: center;
  padding: 0.5em 1.25em;
  cursor: pointer;
  transition: 0.3s ease;
  background: var(--clr-theme);
  color: #F5F7FB;
}

.btn:hover {
  background: var(--clr-theme-dark);
  color: #fff;
}


/* QuestionScreen */
.question-screen-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  margin: 2rem;

  max-width: 1200px;
}

.question-screen-heading{
  font-family: Karla;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}

.question-container{
  display: flex;
  flex-direction: column;
}

.question-text{
  color: #293264;
  margin-top: 0.25rem;
  margin-bottom: 0.75rem;

  font-family: Karla;
  font-size: 1rem;
  font-weight: 700;
  text-align: left;
}

.answers-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: flex-start;
}

.answer{
  height: 1.5rem;
  min-width: 2rem;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0.25rem 0.75rem;

  border-radius: 0.5rem;
  border: 0.794239px solid var(--clr-theme);

  background: transparent;
  color: #293264;

  font-family: Inter;
  font-size: 0.75rem;
  font-weight: 500;
  text-align: center;
}


.answer:hover{
  background-color: #D6DBF5;
  cursor: pointer;
}

.answer:active{
  background-color: var(--clr-theme);
  color: white;
  cursor: pointer;
}

.answer-selected{
  background: var(--clr-theme);
  color: white;
}
.answer-selected:hover{
  background: var(--clr-theme-dark);
  color: white;
}


.question-separator{
  height: 2px;
  width: 100%;
  background: #DBDEF0;
  margin: 1rem 0;
}

